.admin-form {
  background-color: rgb(57, 62, 70);
  color: white;
}
.form-btn {
  background-color: rgb(57, 62, 70);
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
}
.news-card-admin {
  overflow: hidden;
}
.card-img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}