.video-container {
  width: 100vw;
  height: 820x;
  object-fit: cover;
  flex-wrap: wrap;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 400px;
}

.video {
  width: 100vh;
  height: auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
